@font-face {
    font-family: 'Pico 8';
    src: url('../templeoflongdelie/PICO.ttf');
}

* {
    font-family: 'Pico 8';
    text-align: center;
    color: white;
    line-height: 1.5;
}

body {
    background-color: #83769c;
}

#grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 10%;
}

.card {
    border: 5px solid white;
    border-radius: 10px;
    background-color: #1d2b53;
    aspect-ratio: 3/4;
    padding: 10px;
}

.card:hover {
    background-color: #ff77a8;
}

.button {
    background-color: #1d2b53;
    border-radius: 10px;
    border: 5px solid white;
    padding: 10px;
}
.button:hover {
    background-color: #ff77a8;
}

p {
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 20px;
}

#bonus {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;
    image-rendering: pixelated;
    transition: width 100ms ease-in-out 0ms;
}

#bonus:hover {
    width: 60px;
}

select {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: #1d2b53;
}

#discord {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

#discord:hover {
    color: #ff77a8;
}